@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #0A0F2B;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  
  